/* Loading Block */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 2s;
  background-color: #0bd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  /* animation: sk-scaleout 1.0s infinite ease-in-out; */
  animation: sk-scaleout 1.0s ease infinite normal
}

/* Loading Animation */
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

/* Hide Loading Block */
.loaded {
  opacity: 0;
  visibility: hidden;
}

/* ハンバーガーメニュー */
.ham {
  position: relative;
  cursor: pointer;
  background-color: #000000;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  z-index: 999;
  border-radius: 20%;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.ham_line {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 4px;
  background-color: #FFFFCC;
  transition: all 0.4s;
}

.ham_line1 {
  top: 15px;
}

.ham_line2 {
  top: 28px;
}

.ham_line3 {
  top: 41px;
}

.clicked .ham_line1 {
  transform: rotate(45deg);
  top: 30px;
}

.clicked .ham_line2 {
  width: 0px;
}

.clicked .ham_line3 {
  transform: rotate(-45deg);
  top: 30px;
}

.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: -800px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  transition: all 0.5s;
  opacity: 0.5
}

.clicked .menu {
  top: 0;
}

.menu a {
  color: #FFFFFF;
}
